    @media(max-width:1024px){
      .models {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 302px);
        padding: 65px 100px 65px;
    
    } }

     @media(max-width:768px){
      .slogan {
        background: url(../images/Air-Jordan-1-Retro-High-OG-Wmns-TWIST-Feminino\ 1.png) no-repeat center;
        background-size: cover;
       
    } 
    .about h2 {
      font-size: 26px;
      margin-left: 40px;
      top: 215px;
      font-weight: 700;
    }
    .about p {
      font-size: 16px;
      font-weight: 600;
      margin: 10px 0 0 40px;
      
    }
    .models {
      padding: 0 20px;
      padding: 65px 20px 62px;
      
  }
}

@media(max-width:475px){
  
.about h2 {
  margin-left: 20px;
  margin-top: 40px;
}
.about p {
  font-weight: 600;
  margin: 20px 0 0 20px;
  line-height: 28px;
}

.infos .destaques {
    font-size: 28px;
    margin-top: 50px;
}
.infos .text {
  font-size: 16px;

}
.models {
  grid-template-columns:repeat(1, 1fr);
  grid-template-rows: repeat(8, 1fr);
  padding: 65px 20px 65px;
  gap: 30px 20px;
  }
}