/* @media(max-width:1024px){
    .models {
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(4, 378px);
        margin: auto;
        
     
      }
      .models .shoe1, .models .shoe5 {
        margin-left: 0;
      }
      .models .shoe4, .models .shoe8{
        margin-right: 0;
      }
      .models img{
        margin: auto;

    }
    } 

     @media(max-width:768px){
        body{
            background-color: purple;
            width: 668px;
        }
        .about h2 {
            color: #f9f9f9;
            font-size: 43px;
            top: 220px;
          }
          .about p {
            color: #f9f9f9;
            font-size: 20px;
            margin-top: 70px;
            top: 250px;
          }
          .models {
            grid-template-columns:repeat(1, 1fr);
            grid-template-rows: repeat(2, 302px);
            gap: 39px 20px;
    }}  */